In [28]:
import os
import pandas
import librosa
import pydub
import numpy as np
from librosa import display
from pydub import AudioSegment

In [10]:
working_directory = os.getcwd()

In [11]:
working_directory

'F:\\Varsity\\CSE498'

In [12]:
training_directory = os.path.join(working_directory, 'train')
path_357 = os.path.join(working_directory, '357')

In [13]:
training_directory

'F:\\Varsity\\CSE498\\train'

In [14]:
classes = ['angry', 'fear', 'happy', 'neutral', 'sad']

In [17]:
angry_path = os.path.join(training_directory, classes[0])
fear_path = os.path.join(training_directory, classes[1])
happy_path = os.path.join(training_directory, classes[2])
neutral_path = os.path.join(training_directory, classes[3])
sad_path = os.path.join(training_directory, classes[4])

In [20]:
neutral_path

'F:\\Varsity\\CSE498\\train\\neutral'

In [21]:
df = pandas.read_excel(os.path.join(path_357, '357_TRANSCRIPT_2.xlsx'))

In [22]:
df.describe()

       start_time   stop_time
count  126.000000  126.000000
mean   206.937619  208.628135
std    104.597179  104.305702
min     20.880000   21.190000
25%    113.902500  117.075000
50%    216.075000  216.645000
75%    292.702500  294.247500
max    380.450000  381.815000

In [23]:
df.columns

Index(['start_time', 'stop_time', 'speaker', 'value', 'emotion'], dtype='object')

In [24]:
dataset_path = os.path.join(working_directory, 'dataset_357')
dataset_path

'F:\\Varsity\\CSE498\\dataset_357'

In [44]:
def separate_folders(df, dataset_path, category_path, category):
    for index, row in (df.iterrows()):
        if(row['emotion'] == category):
            audio_file_path = os.path.join(dataset_path, str(index))
            #print(index, row)
            audio_file = AudioSegment.from_wav(audio_file_path + '.wav')
            format_string = '{}.wav'.format(index)
            audio_file.export((os.path.join(category_path, format_string)), format = 'wav')

In [51]:
separate_folders(df, dataset_path, neutral_path, 'neutral')

In [42]:
df.iloc[0]

start_time          20.88
stop_time           21.19
speaker       Participant
value                  hi
emotion               NaN
Name: 0, dtype: object